it('Regresa "Publicada hoy" si el argumento es hoy', function (){
    var date = new Date();
    var stringDate = date.toISOString();
    var result = daysSincePublication(stringDate);
    expect(result).toBe('Publicada hoy');
});
